.loader {
    border: 4px solid transparent;
    border-radius: 50%;
    border-top: 4px solid white;
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}